<div class="container">

  <div class="col-md-6">
    <div class="individual_brand">
      <h1><%= @brand.name() %></h1>

      <h3><%= @brand.name() %> are sold at the following stores:</h3>
      <% if @brand.stores().any?() %>
        <ul>
          <% @brand.stores().each() do |store| %>
            <li><a href="/stores/<%= store.id() %>"> <%= store.name() %> </a></li>
          <% end %>
        </ul>
      <% else %>
        <p>This brand is not sold at any of these stores.</p>
      <% end %>
    </div> <!-- div class box -->
  </div> <!-- div class col-md-6 -->

  <div class="col-md-6">
    <div class="individual_brand">
      <form action="/brands/<%= @brand.id() %>/store/new" method="post">
        <label for="store_name">Add a new store to <%= @brand.name() %> :</label>
        <input type="text" name="store_name">
        <button type="submit" class="btn btn-xs btn-info">Add</button>
      </form>
      <hr>

      <form action="/brands/<%= @brand.id() %>/store" method="post">
        <label for="existing_store">Following stores also sell <%= @brand.name() %>:</label>
        <% if @stores.any?() %>
          <% @stores.each() do |store| %>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="store_ids[]" value="<%= store.id()%>"><%= store.name() %>
              </label>
            </div>
          <% end %>
        <%else%>
          <p>Please add a store.</p>
        <% end %>
        <button type="submit" class="btn btn-xs btn-info">Add to Brand</button>
      </form>

    </div>
  </div>

</div>
